:root {
  --input-height: 3.5rem;
  --input-pad: 1rem;
  --icon-size: 2rem;
  --border-width: 0.1rem;
  --border: var(--border-width) solid darkgray;
  --list-item-height: calc(var(--input-height) + 2rem);
}

.container {
  position: relative;
  width: 25rem;
}

input,
ul {
  width: inherit;
  border: var(--border);
  border-radius: 0.3rem;
}

input {
  height: var(--input-height);
  padding: 0 calc(var(--input-pad) + var(--icon-size)) 0 var(--input-pad);
  text-overflow: ellipsis;
}

.icon {
  position: absolute;
  font-size: var(--icon-size);
  top: calc(var(--input-height) / 2 - var(--icon-size) / 2);
  right: calc(var(--input-pad) - 0.2rem);
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(var(--input-height) + 0.1rem);
  --border-adjustment: calc(var(--border-width) * 3);
  min-height: calc(var(--border-adjustment) + var(--list-item-height));
  max-height: calc(var(--border-adjustment) + var(--list-item-height) * 2);
  overflow-y: auto;
}

li {
  display: grid;
  align-items: center;
  padding: 0 1.2rem;

  &[role='option'] {
    grid-template-columns: max-content auto;
    gap: 0.8rem;
  }

  &[aria-selected='true'] {
    background-color: #f5fffc;

    .initials {
      background-color: #4bb1d6;
    }

    .name {
      color: #008f56;
    }
  }

  &:not(:first-child) {
    border-top: var(--border);
    border-color: lightgray;
    height: calc(var(--list-item-height) + var(--border-width));
  }

  &:first-child {
    height: var(--list-item-height);
  }
}

.initials {
  background-color: #f7a268;
  color: #fff;
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-content: center;
  border-radius: 0.3rem;
  font-weight: 600;
}

.color-muted {
  color: rgb(136, 136, 136);
}
