@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --input-height: 3.5rem;
  --input-pad: 1rem;
  --icon-size: 2rem;
  --border-width: 0.1rem;
  --border: var(--border-width) solid darkgray;
  --list-item-height: calc(var(--input-height) + 2rem);
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html,
input {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100%;
}
